<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Ops</title>
</head>
<body>
    <h1>Admin Ops</h1>
    <form action="/admin/adminOpsCreateGalaxy", method="POST">
        <div>
            <label for="galaxyName">Galaxy Name:</label>
            <input type="text" id="galaxyName" name="galaxyName">
        </div>

        <div>
            <label for="galaxyDistance">Galaxy Distance:</label>
            <input type="text" id="galaxyDistance" name="galaxyDistance">
        </div>

        <div>
            <label for="galaxyDescription">Galaxy Description:</label>
            <input type="text" id="galaxyDescription" name="galaxyDescription">
        </div>

        <input type="submit" value="Create">
    </form>

        <form action="/admin/adminOpsDeleteGalaxy", method="POST">
            <div>
                <label for="galaxyName">Galaxy Name:</label>
                <input type="text" id="galaxyName" name="galaxyName">
            </div>
            <input type="submit" value="Delete">
        </form>

        <form action="/admin/adminOpsCreateStar", method="POST">
            <div>
                <label for="galaxyName">Star Name:</label>
                <input type="text" id="starName" name="starName">
            </div>
    
            <div>
                <label for="galaxyDistance">Galaxy Distance:</label>
                <input type="text" id="starDistance" name="starDistance">
            </div>
    
            <div>
                <label for="galaxyDescription">Galaxy Description:</label>
                <input type="text" id="starDescription" name="starDescription">
            </div>
    
            <input type="submit" value="Create">
        </form>

        <form action="/admin/adminOpsDeleteStar", method="POST">
            <div>
                <label for="starName">Star Name:</label>
                <input type="text" id="starName" name="starName">
            </div>
            <input type="submit" value="Delete">
        </form>

    
</body>
</html>