<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/stylesheet/galaxy.css">
    <title>Galaxies</title>
</head>

<body>
        <div class="container">
            <form action="/home">
                <tr><td><input type="submit" value="Home" class="submit-btn" id="home-btn"></td></tr>
            </form>
        <h1>Galaxies</h1>
        <div class="galaxies-view-div">
            <% for(var i=0;i<galaxies.length;i++){ %>
            <div class="galaxy-name">
                Name: <%= galaxies[i].galaxyName %>
            </div>
            <br>
            <div>
                Distance from Earth: <%= galaxies[i].galaxyDistance %>
            </div>
            <br>
            <div>
                Description: <%= galaxies[i].galaxyDescription %>
            </div>
            <% if(i < galaxies.length - 1){ %>
                <br>
                <hr>
            <% } %>
            <br>
            <%}%>
        </div>
    </div>

</body>
</html>