<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/stylesheet/star.css">
    <title>Stars</title>
</head>

<body>
    <div class="container">
            <form action="/home">
                <tr><td><input type="submit" value="Home" class="submit-btn" id="home-btn"></td></tr>
            </form>
        <h1>Stars</h1>
        <div class="galaxies-view-div">
            <% for(var i=0;i<stars.length;i++){ %>
            <div class="star-name">
                Name: <%= stars[i].starName %>
            </div>
            <br>
            <div>
                Distance from Earth: <%= stars[i].starDistance %>
            </div>
            <br>
            <div>
                Description: <%= stars[i].starDescription %>
            </div>
            <% if(i < stars.length - 1){ %>
                <br>
                <hr>
            <% } %>
            <br>
            <%}%>
        </div>
</div>

</body>
</html>