<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/stylesheet/star.css">
    <title>Stars</title>
</head>

<body>

    <div class="container">
        <h1>Stars</h1>
        <div class="galaxies-view-div">
            <% for(var i=0;i<stars.length;i++){ %>
            <div class="star-name">
                <%= stars[i].starName %>
            </div>
            <div>
                <%= stars[i].starDistance %>
            </div>
            <div>
                <%= stars[i].starDescription %>
            </div>
            <br>
            <%}%>
    </div>
</div>

</body>
</html>