body, html {
    background-image: url("https://i.imgur.com/GCJRhiA.png");
    max-height: 100%;
    max-width: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 35%;
    margin-top: 100px;
    color:whitesmoke;
    font-weight: 600;
    
}

.container input[type=text] {
    width: 200px;
    margin-top: 8px;
    padding: 2px;
}

.submit-btn {
    background-color: whitesmoke;
    color: black;
    border: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 6px;
    margin-right: 10px;
    width: 120px;

}

.submit-btn:hover {
    background-color: rgb(31, 31, 31);
    color: white;
}

#logout-btn {
    width: 20%;
    margin-top: 10px;
    margin-left: 150px;
}

#logout-btn:hover {
    transition-timing-function: ease-out;
    background-color: rgb(155, 0, 0);
    color: ghostwhite;
    font-size: 15px;
    
}

.description {
    height: max-content;
}

img {
    margin-top: 55px;
    margin-left: 0;
    left: 0;
    float: left;
    max-width: 100%;
    height: 700px;
    opacity: 0.9;
}

fieldset {
    width: 50%;
}
legend{
    width: fit-content;
}

td {
    width: 150px;
}

#home-btn {
    float: right;
    margin-top: -70px;
    margin-left: 450px;
}

#home-btn:hover {
    background-color: rgb(25, 120, 214);
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.msg-table {
    width: 100%;
}